body{
  display: block;
  background-color: #0a0909;
  user-select: none;
}
a{
  color: blue;
}
#submit,#reset{
  background-color: black;
  border: 1px solid black;
  outline: none;
  color: white;
  padding: 6px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
#submit:hover,#reset:hover{
  color: black;
  background-color: #0e4bad;
  outline: none;
  border:none;
}
.header{
  text-align: center;
  font-family:sans-serif;
  font-size: 22px;
  color: darkgrey;
}
.surveyForm{
  border: 2px solid black;
}
.formdiv{
  margin-left: 25%;
  margin-right: 25%;
  border: 2px solid black;
  text-align: center;
  background-color: darkgrey;
  color: black;
}
.formdiv p{
  font-size: 22px;
  font-family:cursive;
}
form{
  color: #9ae1f5;
  font-size: 20px;
  font-family:cursive;
}
.slider{
    width: 240px;

}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 23px;
  height: 24px;
  border: 0;
  background: url('contrasticon.png');
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 23px;
  height: 25px;
  border: 0;
  background: url('contrasticon.png');
  cursor: pointer;
    color: black;
}
input[type=text], input[type=number], input[type=mail], select {
  width: 60%;
  padding: 12px 20px;
  font-size: 18px;
  margin: 8px 0;
  display: inline-block;
  font-family:Georgia;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #c7d6c8;
  box-sizing: border-box;
  outline: none;
}
input[type=text]:hover, input[type=number]:hover, input[type=mail]:hover,select:hover {
  border: 2px solid #238226;
  padding: 10px 18px;
  outline: none;
}
textarea{
  resize:none;
  width: 80%;
  font-size: 18px;
  outline: none;
  background-color: #c7d6c8;
  border-radius: 8px;
  font-family:Verdana;
}
p{
  font-size: 25px;
  font-family:monospace;
  font-weight: bolder;
}

.radio11{
  position: absolute;
  transform: translate(-60%,-40%);
  left: 45%;
}
.radio12{
  position: absolute;
  transform: translate(-60%,-40%);
  left: 55%;
}
input[type="radio"]{
  display: none;
}
#yes+label{
  position: relative;
  color: black;
  font-family: 'Poppins',sans-serif;
  border: 2px solid black;
  border-radius: 5px;
  padding: 6px 20px;
  display:flex;
  align-items: center;
  cursor: pointer;
  margin-top: 5%;
}
#no+label{
  position: relative;
  color: black;
  font-family: 'Poppins',sans-serif;
  border: 2px solid black;
  border-radius: 5px;
  padding: 6px 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-top: 5%;
}

#yes+label:before{
  content: "";
  height: 20px;
  width: 20px;
  border: 3px solid black;
  border-radius: 50%;
  margin-right: 25px;
}
#no+label:before{
  content: "";
  height: 20px;
  width: 20px;
  border: 3px solid black;
  border-radius: 50%;
  margin-right: 25px;
}
#yes:checked+label{
  background-color: #01cc65;
  color: white;
}
#yes:checked+label:before{
  height: 10px;
  width: 10px;
  border: 10px solid white;
  background-color: #01cc65;
}
#no:checked+label{
  background-color: #f20f2d;
  color: white;
}
#no:checked+label:before{
  height: 10px;
  width: 10px;
  border: 10px solid white;
  background-color: #f20f2d;
}
.radio21{
  position: absolute;
  transform: translate(-60%,-40%);
  left: 45%;
}
.radio22{
  position: absolute;
  transform: translate(-60%,-40%);
  left: 55%;
}
#yes2+label{
  position: relative;
  color: black;
  font-family: 'Poppins',sans-serif;
  border: 2px solid black;
  border-radius: 5px;
  padding: 6px 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-top: 5%;
}
#no2+label{
  position: relative;
  color: black;
  font-family: 'Poppins',sans-serif;
  border: 2px solid black;
  border-radius: 5px;
  padding: 6px 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-top: 5%;
}
#yes2+label:before{
  content: "";
  height: 20px;
  width: 20px;
  border: 3px solid black;
  border-radius: 50%;
  margin-right: 25px;
}
#no2+label:before{
  content: "";
  height: 20px;
  width: 20px;
  border: 3px solid black;
  border-radius: 50%;
  margin-right: 25px;
}
#yes2:checked+label{
  background-color: #01cc65;
  color: white;
}
#yes2:checked+label:before{
  height: 10px;
  width: 10px;
  border: 10px solid white;
  background-color: #01cc65;
}
#no2:checked+label{
  background-color: #f20f2d;
  color: white;
}
#no2:checked+label:before{
  height: 10px;
  width: 10px;
  border: 10px solid white;
  background-color: #f20f2d;
}

input[type=checkbox] + label {
  display: block;
  margin: 0.2em;
  cursor: pointer;
  padding: 0.2em;
}

input[type=checkbox] {
  display: none;
}

input[type=checkbox] + label:before {
  content: "\2714";
  border: 3px solid black;
  border-radius: 0.2em;
  display: inline-block;
  width: 18px;
  height: 18px;
  padding-left: 0.2em;
  padding-bottom: 0.3em;
  margin-right: 0.2em;
  vertical-align: bottom;
  color: transparent;
  transition: .2s;
}

input[type=checkbox] + label:active:before {
  transform: scale(0);
}

input[type=checkbox]:checked + label:before {
  background-color: #059c1b;
  border-color: #059c1b;
  color: #fff;
}
.itemlist{
  display:inline-flex;
  margin-left: 7%;
  margin-right: 15%;
}
